# Framework principal
langchain
langchain-google-genai
langchain-openai
langchain-community
langchain-chroma

# Banco de Vetores
chromadb

# Carregadores de Documentos LEVES
pypdf       # Para PDFs
python-docx # Dependência para o loader de docx
docx2txt    # Para o Docx2txtLoader

# Variáveis de Ambiente
python-dotenv

# Cenário 1: Telegram
python-telegram-bot

# Cenário 2: Streamlit
streamlit

#
rank_bm25