# Framework principal
langchain
langchain-google-genai
langchain-openai
langchain-community
langchain-chroma
# langchain-huggingface # Removido, não estamos usando

# Banco de Vetores
chromadb

# Carregadores de Documentos LEVES
pypdf       # Para PDFs
python-docx # Dependência para o loader de docx
docx2txt    # Para o Docx2txtLoader

# REMOVIDO:
# unstructured[pdf,docx] # ESTE ERA O PROBLEMA PESADO

# Variáveis de Ambiente
python-dotenv

# Cenário 1: Telegram
python-telegram-bot

# Cenário 2: Streamlit
streamlit