# Framework principal
langchain
langchain-google-genai
langchain-openai
langchain-community
langchain-chroma
langchain-retrievers

# Banco de Vetores
chromadb

# Carregadores de Documentos LEVES
pypdf
python-docx
docx2txt

# Dependências da Busca Híbrida
rank_bm25

# Variáveis de Ambiente
python-dotenv

# Cenário 1: Telegram
python-telegram-bot

# Cenário 2: Streamlit
streamlit